@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(112, 74, 148);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

#registration {
  z-index: 1;
}

.game-container,
#registration {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.registration-container {
  background-image: url("./img/background-registration.png");
}

.registration-container,
#game-display {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  border: 7px double violet;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 1200px;
}

.registration-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
}

input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #f0c3f9;
  font-size: larger;
  color: white;
}

label {
  font-size: large;
}

button {
  font-size: 20px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  padding: 10px 20px;
  background-color: violet;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
}
#name-display,
#level-display,
#enemy-display,
#score-display,
#message-display,
#health-display {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
  color: white;
}

#enemy-display img {
  max-width: 380px;
  max-height: 380px;
}

#enemy-display,
h1,
h3 {
  text-align: center;
  margin: 20px 0;
}

h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  margin: 40px 300px;
}

#enemy-display {
  margin: 0 auto;
  max-width: 410px;
}

#game-display {
  background-image: url("./img/background.jpg");
  cursor: url("./img/cursor.png"), auto;
}

#message-display {
  margin: 0 auto;
  max-width: 300px;
  line-height: 100px;
  font-weight: 700;
}

.move:hover {
  animation: 0.5s tremor ease-out infinite;
}

@keyframes tremor {
  0%,
  25% {
    left: -5px;
    transform: translateX(-4%);
  }
  50%,
  100% {
    left: 5px;
    transform: translateX(4%);
  }
}
